/*#css - main.css*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
#sitecontainer{
	margin: 0 auto;
	width: 70%;
}
#mainMenu{
	background-color: #000;
}
#mainMenu ul{
	overflow: hidden;
	list-style: none;
	margin-left: 7px;
}
#mainMenu ul li{
	float: left;
}
#mainMenu ul li a{
	display: block;
	color: #fff;
	background-color: #000;
	padding: 7px 3px; 
	text-decoration: none;
	margin-bottom: 2px;
	border-radius: 0 0 4px 4px;
}
#mainMenu ul li a:hover{
	background-color: #666;
}